<h1 class="text-center">Bienvenido usuario!!!</h1>
<h2 class="text-center">Sesión éxitosa!!</h2>

<div class="col-md-4 mx-auto text-center">
    <form action="/saveitem" method="get">
      <button class="btn btn-block btn-lg btn-success">Añadir a Productos</button>
    </form>
</div>
<br>
<div class="col-md-4 mx-auto">
  <a href="/users/logout" class="btn btn-block btn-lg btn-info"> Cerrar sesión?</a>
</div>
<br>
