<div style="background-color:LIGHTSEAGREEN; color:#000 " class="alert alert-info ">
      <h3 class="text-center">BLOG</h3>
    </div>
 <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Nuestro Blog
          <small>AGS CLEAN COMPANY</small>
        </h1>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://i.ibb.co/WFK3Y1Y/Dar-una-mano-a-la-naturaleza-vale-mucho.png" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title text-center">CUENTANOS TU EXPERIENCIA CON NUESTROS PRODUCTOS</h3>
            <p class="card-text text-justify">A través de este lanzamiento los consumidores salvadoreños podrán encontrar productos como: limpiadores multiusos, desinfectantes de distintos niveles, detergentes, controladores de malos olores, productos para trabajo en cocinas, áreas comunes y otros, todos amigables con el medio ambiente.</p>
          </div>
        </div>

 <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Dejanos tu comentario:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="https://www.transparencia.gob.sv/system/institutions/avatars/000/000/005/profile/Logo_PNG_Fosofamilia.png?1572297262" width="50" alt="">
          <div class="media-body text-justify">
            <h5 class="mt-0">FOSOFAMILIA</h5>
            Nos complace acompañar a AGS CLEAN COMPANY en este nuevo paso hacia mercados internacionales, donde a través del compromiso ambiental y la calidad de sus productos dejarán en alto el nombre de El Salvador y la marca país esencial COSTA RICA, cumpliendo a cabalidad los valores de excelencia, origen, progreso social, innovación y sostenibilidad”.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="https://pbs.twimg.com/profile_images/1156246778292965376/eAs6jnjb_400x400.jpg"  width="50" alt="">
          <div class="media-body">
            <h5 class="mt-0">CARITAS DE EL SALVADOR</h5>
           

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="" alt="">
              <div class="media-body">
                <h5 class="mt-0"></h5>
                Excelentes Productos de alta calidad, y atención al cliente
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="" alt="">
              <div class="media-body">
                <h5 class="mt-0"></h5>
                
              </div>
            </div>

          </div>
        </div>

      </div>

     

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Buscar</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Ir!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categorias</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Covid19</a>
                  </li>
                  <li>
                    <a href="#">Higiene</a>
                  </li>
                  <li>
                    <a href="#">Quimicos</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Desinfección</a>
                  </li>
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li>
                    <a href="#">Catalogo</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header text-center">   ¿Qué son los productos de limpieza ecológicos?</h5>
          <div class="card-body text-justify">
         Los productos de limpieza ecológicos son aquellos que están fabricados con sustancias que son respetuosas con el medio ambiente y que no son tóxicos para las personas.
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  