
<div class="alert alert-info" style="background-color:LIGHTSEAGREEN; color:#000 ">
  <h3 class="text-center">Nuestros productos</h3>
</div>

<!-- CADA DIV DE TIPO ALERT PARA DIVIDIR CADA SECCIÓN -->
	<!--DESINFECTANES-->
<div class="card">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Desinfectante</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Jabón de manos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Sanitizantes</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="contenedor">
		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/N70Y9zM/lavanda.png" alt="lavanda" border="0" class="frontal" >
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Aroma Lavanda Verde</h2>
						<hr>
						<p class="text-center" style="color:black">Desinfectante de uso ambiental. Su formulación le permite realizar limpieza y desinfección en una sola acción. Limpieza de todo tipo de superficies.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"></i> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/n7rhkgD/manxana-canela.png" alt="manxana-canela" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Aroma Manzana Canela</h2>
						<hr>
						<p class="text-center" style="color:black">Desinfectante de uso ambiental. Su formulación le permite realizar limpieza y desinfección en una sola acción. Limpieza de todo tipo de superficies.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/6g209h3/bebe.png" alt="bebe" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center " style="color:black">Aroma Talco Bebé</h2>
						<hr>
						<p class="text-center" style="color:black">Desinfectante de uso ambiental. Su formulación le permite realizar limpieza y desinfección en una sola acción. Limpieza de todo tipo de superficies.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
	<div class="contenedor">
	<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/xDRWrWY/1.jpg" alt="1" border="0" class="frontal">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Aroma Manzana</h2>
						<hr>
						<p class="text-center" style="color:black">Desinfectante de uso ambiental. Su formulación le permite realizar limpieza y desinfección en una sola acción. Limpieza de todo tipo de superficies.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/Rcv2gC8/cascadas.png" alt="cascadas" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Aroma Flores y Cascadas</h2>
						<hr>
						<p class="text-center" style="color:black">Desinfectante de uso ambiental. Su formulación le permite realizar limpieza y desinfección en una sola acción. Limpieza de todo tipo de superficies.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/N18Q9Xw/3.jpg" alt="3" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Aroma Floral Intenso</h2>
						<hr>
						<p class="text-center" style="color:black">Desinfectante de uso ambiental. Su formulación le permite realizar limpieza y desinfección en una sola acción. Limpieza de todo tipo de superficies.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>
      </div>
   </div>

      <!-- jabones -->
     
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="contenedor">
		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
					<img src="https://i.ibb.co/0ymzRNF/samdia.png" alt="samdia" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Jabon para Manos Sandia</h2>
						<hr>
						<p class="text-center" style="color:black"> Es un jabón líquido BIODEGRADABLE”, suave para la piel, posee buen poder espumante, microbicida de amplio espectro y alta efectividad contra bacterias y contra algunos hongos. No causa ninguna irritación sobre la piel.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/93MLZd7/STICKER-2-002.png" alt="STICKER-2-002" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2  class="titulo text-center" style="color:black">Jabon para manos Manzana</h2>
						<hr>
						<p  class="text-center" style="color:black">Es un jabón líquido BIODEGRADABLE”, suave para la piel, posee buen poder espumante, microbicida de amplio espectro y alta efectividad contra bacterias y contra algunos hongos. No causa ninguna irritación sobre la piel.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
					<img src="https://i.ibb.co/Xxn6QWF/STICKER-2-001.png" alt="STICKER-2-001" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Jabon para Manos Chicle</h2>
						<hr>
						<p  class="text-center" style="color:black">Es un jabón líquido BIODEGRADABLE”, suave para la piel, posee buen poder espumante, microbicida de amplio espectro y alta efectividad contra bacterias y contra algunos hongos. No causa ninguna irritación sobre la piel.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>
      </div>
      </div>



      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <!-- SANITIZANTES -->
         <div class="contenedor">
		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
					<img src="https://i.ibb.co/gv10zTC/sanitizante-001.png" alt="sanitizante-001" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Amonio Cuaternario</h2>
						<hr>
						<p class="text-center" style="color:black"> Efectivo contra Coronavirus, Limpieza y desinfección de superficies. Lavado de instrumental, Solución limpiador y desinfectante de uso general. Posee acción contra bacterias, hongos, virus y la tuberculosis.No mancha ni oxida.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
				<img src="https://i.ibb.co/dMQ1fQs/lejia.png" alt="lejia" border="0"class="frontal" alt="">
					<figcaption class="trasera">
						<h2  class="titulo text-center" style="color:black">Lejía Fresh</h2>
						<hr>
						<p  class="text-center" style="color:black">Efectivo bactericida en base a hipoclorito y soda caustica en escamas. Elimina un 99.99% de bacterias y virus en el hogar.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>

		<div class="contenedor_tarjeta">
			<a href="productos">
				<figure id="tarjeta">
					<img src="https://i.ibb.co/RDVgNpw/lejialimojn.jpg" alt="lejialimojn" border="0" class="frontal" alt="">
					<figcaption class="trasera">
						<h2 class="titulo text-center" style="color:black">Lejía Limón Fresh</h2>
						<hr>
						<p  class="text-center" style="color:black">Efectivo bactericida en base a hipoclorito y soda caustica en escamas.Posee un agradable aroma a limçon Elimina un 99.99% de bacterias y virus en el hogar.</p>
						<hr>
						<center><button type="button" class="btn btn-warning"> Ver Producto</button></center>
					</figcaption>
				</figure>
			</a>
		</div>
      </div>
    </div>
    <!-- DIV DE TIPO ALERT PARA DIVIDIR CADA SECCIÓN -->
    <div style="background-color:LIGHTSEAGREEN; color:#000 " class="alert alert-info ">
      <h3 class="text-center">Acerca de nosotros</h3>
    </div>
    <!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="about-text">
          <h2><span>Misión</span></h2>
          <hr>
          <p class="text-justify">Lograr la completa satisfacción de nuestros clientes, cubriendo enteramente sus necesidades de limpieza, higiene y sanitización con el mejor servicio y la mejor calidad.</p>
          <p class="text-justify">Teniendo siempre como prioridad el cuidado del medio ambiente, la salud de los usuarios y fomentando la cultura de salud mediante la limpieza.</p>
          <a href="https://www.facebook.com/FR-Company-Fresh-Cleaning-105626661216906/" type="button" class="btn btn-success">Buscanos en Facebook</a> </div>
      </div>
      <div class="col-xs-12 col-md-4">
       <center><div class="about-media"> <img src="https://img.freepik.com/psd-gratis/maqueta-varios-productos-limpieza-hogar_23-2148568790.jpg?size=626&ext=jpg" width="190" height="150" alt=" "> </div></center>
        <div class="about-desc">
          <h3 class="text-center">Visión</h3>
          <p class="text-justify">Ser una empresa bien posicionada en la región chiapaneca en el giro de la limpieza, higiene y sanitización, mediante la implementación de procesos de mejora continua enfocados hacia el cliente, el medio ambiente y a nuestro capital humano.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <center><div class="about-media"> <img src="https://img.freepik.com/psd-gratis/maqueta-detergente-spray-limpieza_23-2148568781.jpg?size=626&ext=jpg" width="190" height="150" alt=" "> </div></center>
        <div class="about-desc">
          <h3 class="text-center">Valores</h3>
          <p class="text-center">Confianza</p>
		  <p class="text-center">Honestidad</p>
		  <p class="text-center">Responsabilidad</p>
		  <p class="text-center">Compromiso</p>
		  
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<hr>
    <!-- PONE CADA DIV DE TIPO ALERT PARA DIVIDIR CADA SECCIÓN -->
    <div class="alert alert-info" style="background-color:LIGHTSEAGREEN; color:#000 " >
      <h3 class="text-center">Nuestro blog</h3>
    </div>
	<hr>
  <!-- Button trigger modal -->
<center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	<i class="fa fa-cart-plus"></i> Oferta !!!</button></center>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Oferta del Mes!!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center><img src="https://i.ibb.co/nM7VPkT/1.png" alt="1" border="0" width="300"></a></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerra</button>
        <button type="button" class="btn btn-primary"><i class="fa fa-cart-plus"></i> Agregar a Carrito</button>
      </div>
    </div>
  </div>
</div>
  <hr>
    <div class="row">
      <div class="col-lg- textoNB">

 <div class="col-md-12">
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://i.ibb.co/WFK3Y1Y/Dar-una-mano-a-la-naturaleza-vale-mucho.png" alt="Card image cap" width="70">
          <div class="card-body">
            <h2 class="card-title">Nuestros Productos son Biodegradable</h2>
            <p class="card-text">¿Cuántos productos de limpieza utilizas en casa? Seguro que uno para los cristales, otro para el baño, uno más para la cocina, para el suelo, para la ropa, los platos… ¿Sigo? La lista puede ser interminable.</p >
            <p class="card-text"></p>No sé si te lo habías planteado pero una de las maneras más fáciles y que más ayudan a ser más ecológicos y respetuosos con el planeta (y con la salud familiar) es utilizar productos de limpieza naturales, no tóxicos.</p>
            <a href="blog" class="btn btn-primary">Leer Más &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted 18 de noviembre 2020
            <a href="#">AGS CLEAN COMPANY</a>
          </div>
        </div>
      </div>
    </div>
</div>
<!--  CADA DIV DE TIPO ALERT PARA DIVIDIR CADA SECCIÓN -->
<div class="alert alert-info" style="margin-top:2%; background-color:LIGHTSEAGREEN; color:#000 " >
  <h3 class="text-center">Testimonios</h3>
</div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card card-main border-0 text-center">
                <h4 class="font-weight-bold mb-4">Qué dicen nuestros cliente </h4>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="card border-0 card-0">
                                <div class="card profile py-3 px-4">
                                    <div class="text-center"> <img src="https://i.imgur.com/gazoShk.jpg" class="img-fluid profile-pic"> </div>
                                    <h6 class="mb-0 mt-2">Evelyn Ochoa</h6> <small>Cliente Minoritsta</small>
                                </div> <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png" width="20" height="20">
                                <p class="content mb-0">Productos de primera calidad, envío rápido, </p>
								<p class="content mb-0">Repetiré compra. Recomendable.</p> 
								<img class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png" width="20" height="20">
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="card border-0 card-0">
                                <div class="card profile py-3 px-4">
                                    <div class="text-center"> <img src="https://i.imgur.com/oW8Wpwi.jpg" class="img-fluid profile-pic"> </div>
                                    <h6 class="mb-0 mt-2">Ximena García</h6> <small>Jefe de Compras/ UNIVO</small>
                                </div> <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png" width="20" height="20">
                                <p class="content mb-0">Productos excelentes, inmejorables y además rapidez en la entrega. Muy recomendable en estos tiempos de pandemia y en general para una higiene excepcional y profesional.</p> <img class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png" width="20" height="20">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card border-0 card-0">
                                <div class="card profile py-3 px-4">
                                    <div class="text-center"> <img src="https://i.imgur.com/ndQx2Rg.jpg" class="img-fluid profile-pic"> </div>
                                    <h6 class="mb-0 mt-2">Jose Castro</h6> <small>Gerente Almacenes SIMAN </small>
                                </div> <img class="img-fluid open-quotes" src="https://i.imgur.com/Hp91vdT.png" width="20" height="20">
                                <p class="content mb-0">Da gusto hacer los pedidos. Llegan muy rápido y los precios son inigualables. Gracias.</p> <img class="img-fluid close-quotes ml-auto" src="https://i.imgur.com/iPcHyJK.png" width="20" height="20">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   </div>
	</div>
	

        <div style="background-color:LIGHTSEAGREEN; color:#000 " class="alert alert-info ">
      <h3 class="text-center">Contáctenos</h3>
    </div>
	<hr>
		 <div class="row text-center">
			<div class="col-12 col-lg-4">
				<h3>Dirección</h3>
				<hr>
				<div class="contact-item">
				<p>Colonia El Guarumal </p>
				<p>Santiago de María, Pasaje #1</p>
        </div>
			</div>
			<div class="col-12 col-lg-4">
				 <center><div class="about-media"><img src="https://i.ibb.co/DL7Kff4/Fresh-Cleaning.png" alt="Fresh-Cleaning" border="0" width="190" height="150" alt=" "> </div></center>
			</div>
			

			<div class="col-12 col-lg-4">
				<h3>Horario de Atencion</h3>
				<hr>
				<div class="contact-item">
				<p>Lunes-Sábado: 07:00 a.m. - 4:00 p.m.</p>
				<p>Domingo: Cerrado</p>
			</div>
			</div>
				 </div>
</div>

		  <hr>
		   <div class="row col-lg-12 ">
  			<div class="col-lg-6 formularioContacto">
        <form>
          <div class="form-group">
            <label for="">Nombre completo:</label>
            <input type="text" class="form-control" id="nameF" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="">Número de teléfono: </label>
            <input type="number" class="form-control" id="numberF" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="">Correo electrónico: </label>
            <input type="email" class="form-control" id="emailF" required autocomplete="off">
          </div>
          <a class="btn btn-info btn-block" onclick="formularioC();">Aceptar</a>
        </form>
      </div>
	  <div class="col-lg-6">
 	 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15519.53718125022!2d-88.46945245!3d13.48122665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2ssv!4v1605651344988!5m2!1ses-419!2ssv" width="520" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
      <div class="col-lg-8 conectateN">
      </div>
    </div>  	
	</div>
	
  

  