 <!-- DIV DE TIPO ALERT PARA DIVIDIR CADA SECCIÓN -->
  
    <div style="background-color:LIGHTSEAGREEN; color:#000 " class="alert alert-info ">
      <h3 class="text-center">Acerca de Nosotros</h3>
    </div>
    <!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="about-text">
          <h2><span>Misión</span></h2>
          <hr>
          <p class="text-justify">Lograr la completa satisfacción de nuestros clientes, cubriendo enteramente sus necesidades de limpieza, higiene y sanitización con el mejor servicio y la mejor calidad.</p>
          <p class="text-justify">Teniendo siempre como prioridad el cuidado del medio ambiente, la salud de los usuarios y fomentando la cultura de salud mediante la limpieza.</p>
          <a href="https://www.facebook.com/FR-Company-Fresh-Cleaning-105626661216906/" type="button" class="btn btn-success">Buscanos en Facebook</a> </div>
      </div>
      <div class="col-xs-12 col-md-4">
       <center><div class="about-media"> <img src="https://img.freepik.com/psd-gratis/maqueta-varios-productos-limpieza-hogar_23-2148568790.jpg?size=626&ext=jpg" width="190" height="150" alt=" "> </div></center>
        <div class="about-desc">
          <h3 class="text-center">Visión</h3>
          <p class="text-justify">Ser una empresa bien posicionada en la región chiapaneca en el giro de la limpieza, higiene y sanitización, mediante la implementación de procesos de mejora continua enfocados hacia el cliente, el medio ambiente y a nuestro capital humano.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <center><div class="about-media"> <img src="https://img.freepik.com/psd-gratis/maqueta-detergente-spray-limpieza_23-2148568781.jpg?size=626&ext=jpg" width="190" height="150" alt=" "> </div></center>
        <div class="about-desc">
          <h3 class="text-center">Valores</h3>
          <p class="text-center">Confianza</p>
		  <p class="text-center">Honestidad</p>
		  <p class="text-center">Responsabilidad</p>
		  <p class="text-center">Compromiso</p>
		  
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<hr>
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Politicas de Calidad</h2>
                        <p class="aboutus-text text-justify">Desarrollamos, fabricamos y comercializamos productos de calidad para los mercados de salud, belleza e higiene; satisfaciendo las necesidades y requisitos de nuestros clientes, socios estratégicos y consumidores finales.</p>
                        <p class="aboutus-text text-justify">La política anteriormente mencionada es adecuada al propósito y naturaleza de la organización, el cual es el desarrollo, la fabricación y comercialización de productos para los mercados de la salud, belleza e higiene.</p>
                        
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="aboutus-banner">
                       <center><img src="https://3.bp.blogspot.com/-tuuwxJw1jIg/VZlQRhLJAII/AAAAAAAAF6c/laZvKDC02gA/s1600/logo_biodegradable.jpg" width="300" alt=""></center> 
                    </div>
                    
                </div>
                
                <div class="col-md-4 c">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h5 class="text-justify">¿Qué nos diferencia de los demás? </h5>
                                    <p class="text-justify">La Política de Calidad de AGS CLEAN COMPANY es el marco de referencia para la generación, implantación, mantenimiento y mejora de los Objetivos de Calidad.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                   <h5 class="text-justify">¿Qué nos diferencia de los demás? </h5>
                                    <p class="text-justify">La Política de Calidad de AGS CLEAN COMPANY es el marco de referencia para la generación, implantación, mantenimiento y mejora de los Objetivos de Calidad.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="feature-content">
                                    <h5 class="text-justify">¿Qué nos diferencia de los demás? </h5>
                                    <p class="text-justify">La Política de Calidad de AGS CLEAN COMPANY es el marco de referencia para la generación, implantación, mantenimiento y mejora de los Objetivos de Calidad.</p>
                                    
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
           </div>


      
<div>

<div class="embed-responsive embed-responsive-21by9">
  <<iframe width="560" height="315" src="https://www.youtube.com/embed/owQ2aVUnfkA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

