{{#if success_msg}}
<div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top:1%;">
  {{success_msg}}
  <button class="close" type="button" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
